<div th:replace="compartilhado/topo"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Novo Administrador</h1>
                    <p class="mb-4">Aqui iremos cadastrar um novo ADM </p>
                      
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding: 30px">

                      <!-- <form method="POST"  enctype="multipart/form-data" action="/administradores/criar" onsubmit="return confirm('Confirma a ação ? ')"> -->
                      <form method="POST" action="/administradores/criar" onsubmit="return confirm('Confirma a ação ? ')">
                        <div class="mb-3">
                          <label for="nome" class="form-label">Nome: </label>
                          <input type="text" class="form-control" required id="nome"  name="nome" placeholder="Digite seu nome">
                        </div>
                        <div class="mb-3">
                          <label for="email" class="form-label">Email: </label>
                          <input type="email" class="form-control" required id="email"  name="email" placeholder="Digite seu email">
                        </div>
                        <div class="mb-3">
                          <label for="senha" class="form-label">Senha: </label>
                          <input type="password" class="form-control" required id="senha"  name="senha" placeholder="Digite sua senha">
                        </div>
                        <div class="mb-3">
                          <label for="observacao" class="form-label">Observação: </label>
                          <textarea class="form-control" id="observacao"  name="observacao" placeholder="Digite uma obs"></textarea>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="imagem" class="form-label">Foto Perfil: </label>
                            <input type="file" id="imagem" name="imagem" />
                        </div> -->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                      </form>

                    </div>

                </div>
                <!-- /.container-fluid -->
                
<div th:replace="compartilhado/baixo"></div>